<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>One Page Resume</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <style type="text/css">
    {{css}}
    </style>
  </head>
  <body>
    <div id="page-wrap">
      <img src="{{resume.basics.picture}}" alt="{{resume.basics.name}}" id="pic" />
      <div id="contact-info" class="vcard">
        <!-- Microformats! -->
        <h1 class="fn">{{resume.basics.name}}</h1>
        <p>
          {{#if resume.basics.phone}}
          Cell: <span class="tel">{{resume.basics.phone}}</span><br />
          {{/if}}
          {{#if resume.basics.email}}
          Email: <a class="email" href="mailto:{{resume.basics.email}}">{{resume.basics.email}}</a>
          {{/if}}
          <ul id="profiles">
          {{#resume.basics.profiles}}
          <li>
            <div class="contact-item tooltip">
              <div class="icon pull-left text-center">
		<a href="{{url}}" target="_blank">
		  <span class="{{iconClass}} fa-fw">
                    <span class="tooltiptext">
		      {{username}}
		    </span>
		   </span>
		</a>
	      </div>
            </div>
          </li>
          {{/resume.basics.profiles}}
          </ul>
        </p>
      </div>
      <div id="objective">
        <p>{{resume.basics.summary}}</p>
      </div>
      <div class="clear"></div>
      <dl>
        <dd class="clear"></dd>
        {{#if resume.education.length}}
        <dt>Education</dt>
        <dd>
          {{#each resume.education}}
          <h2>{{institution}}
            <span>
            {{startDate}} -
            {{#if endDate.length}}
            {{endDate}}
            {{^}}
            Present
            {{/if}}
            </span>
          </h2>
          {{studyType}}{{#area}} - <i>{{.}}</i>{{/area}}<br/>
          {{/each}}
        </dd>
        {{/if}}
        <dd class="clear"></dd>
        {{#if resume.skills.length}}
        <dt>Skills</dt>
        <dd>
          {{#each resume.skills}}
          <h2>{{name}}</h2>
          <p>{{keywords}}</p>
          {{/each}}
        </dd>
        {{/if}}
        <dd class="clear"></dd>
        {{#if resume.work.length}}
        <dt>Experience</dt>
        {{#each resume.work}}
        <dd>
          <h2>{{company}}
            <span>
              {{startDate}} -
              {{#if endDate.length}}
              {{endDate}}
              {{^}}
              Present
              {{/if}}
            </span>
          </h2>
          {{summary}}
          <ul>
          {{#highlights}}
            <li>{{.}}</li>
          {{/highlights}}
          </ul>
        </dd>
        {{/each}}
        {{/if}}
        <dd class="clear"></dd>
        {{#if resume.languages.length}}
        <dt>Languages</dt>
        {{#each resume.languages}}
        <dd>
          {{language}} - <i>{{fluency}}</i>
        </dd>
        {{/each}}
        {{/if}}
        <dd class="clear"></dd>
        {{#if resume.interests.length}}
        <dt>Hobbies</dt>
        <dd>
          {{name}}
          {{#each resume.interests}}
          <h2>{{name}}</h2>
          <p>{{keywords}}</p>
          {{/each}}
        </dd>
        {{#each resume.interests}}
        {{/each}}
        {{/if}}
        <dd class="clear"></dd>
        {{#if resume.references.length}}
        <dt>References</dt>
        {{#each resume.references}}
        <dd><i>{{reference}}</i><br>
          <br><h2><span>{{name}}</span></h2>
        </dd>
        {{/each}}
        {{^}}
        <dd>Available on request</dd>
        {{/if}}
        <dd class="clear"></dd>
      </dl>
      <div class="clear"></div>
    </div>
  </body>
</html>
